* {
    box-sizing: border-box;
    background-color: rgb(228, 236, 247);
}

div {
    display: block;
}

body {
    margin: 0;
    display: flex;
    width: 100%;/*레이아웃 유연하게 지정*/
    flex-direction: column;
}

h3 {
    font-size: 17px;
}

h4 {
    font-size: 14px;
    font-weight: lighter;
    text-align: left;
}

header {
    display: flex;
    height: 100px;
    /* margin: auto; */
}

.header__logo {
    text-align: center;
    font-weight: lighter;
    font-size: 28px;
}

.header__right {
    margin-left: auto;
    flex-direction:row;
    display: flex;
    align-items: center;
}

.header__search,
.switch,
.header__new {
    margin-right: 20px;
}

.header__mode--mode{
    font-size: 16px;
}

.header__new {
    background-color: lightsteelblue;
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    width: 75pt;
    height: 25pt;
}

.header__new:hover {
    background-color: black;
    color: lightsteelblue;
    font-weight:200;
    opacity: 1;
    transition: 0.3s;
}

.header__profile {
    width:40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
    display:inline-block;
    text-align: center; 
}

.header__profile--img {
    width: 100%;
    height: 100%;
    object-fit:cover; 
}

nav {
    display: flex;
    /* margin: auto; */
}

.nav__left {
    display: flex;
    height: 100px;
}

.nav__trending,
.nav__recent,
.nav__period {
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
    height: 50px;
}

.nav__trending {
    font-size: large;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-right: 20px;
}

.nav__recent {
    font-size: large;
    color: gray;
}

.nav__period {
    background-color: lightsteelblue;
    align-items: center; 
    
}

.nav__right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

.card {
    margin: 20px;
}

.card__img--wrapper {
    position: relative;
    width: 100%;
}

.card__img{
   
}

.card__middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 16px;
}

.card__date {
    font-size: 12px;
    color: gray;
}

.card__profile {
    width:30px;
    height: 30px;
    border-radius: 70%;
    overflow: hidden;
    display:inline-block;
    text-align: center; 
}

.card__profile--img {
    width: 100%;
    height: 100%;
    object-fit:cover; 
}

.card__bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    height: 40px;
}

.card__bottom--left {
    display: flex;
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
}

.card__name span {
    font-weight: bold;
}

.card__profile {
    margin-right: 10px;
}

.card__bottom--right {
    margin-left: auto;
    flex-direction:row;
    display: flex;
    align-items: center;
}