body {/*어떻게 하면 가로 스크롤 안생길 수 있을까*/
    box-sizing: border-box;
    background-color: rgb(228, 236, 247); 
    margin: auto;
    display: flex;
    width: 100%;/*레이아웃 유연하게 지정*/
    flex-direction: column;
}

div {
    display: block;
}

h3 {
    font-size: 17px;
}

.card__middle--content {
    font-size: 14px;
    font-weight: lighter;
    text-align: left;
}

header {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

@media all and (max-width: 600px) {
    .card {
        width: 80%;
    }
} 

@media (min-width:600px) and (max-width:768px) {
    .card {
        width: 40%;
    }
    body {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (min-width:768px) and (max-width:1200px) {
    .card {
        width: 30%;
    }
    body {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 1200px) {
    .card {
        width: 20%;
    }
    body {
        margin-left: 40px;
        margin-right: 40px;
    }
}


header,
nav,
.cards {
    margin-left: 10px; 
    margin-right: 10px;
}

.header__logo {
    text-align: center;
    font-weight: lighter;
    font-size: 28px;
    margin-left: 10px;
}

.header__right {
    margin-left: auto;
    flex-direction:row;
    display: flex;
    align-items: center;
}

.header__search,
.header__mode,
.header__switch,
.header__new {
    margin-right: 20px;
}

.header__mode{
    font-size: 16px;
}

.header__switch{
    position: relative;
    display: inline-block; 
    width: 55px;
    height: 30px;
}

.header__switch input {
    opacity: 0;
    width: 0;
    height:0;
}

.header__switch--onoff {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    background-color: #ccc;
    -webkit-animation: .4s;
    transition: .4s;
}

.header__switch--onoff:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-animation: .5s;
    transition: .4s;
    border-radius: 20px;
}

.header__switch input:checked + .header__switch--onoff {
    background-color: #F2D522;
}

.header__switch input:checked + .header__switch--onoff::before {
    -webkit-animation: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.header__new {
    background-color: rgb(214, 232, 240);
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    width: 75pt;
    height: 25pt;
}

.header__new:hover {
    background-color: black;
    color: lightsteelblue;
    font-weight:200;
    opacity: 1;
    transition: 0.3s;
}

.header__profile {
    width:40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
    display:inline-block;
    text-align: center; 
}

.header__profile--img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:cover; 
}

nav {
    display: flex;
}

.nav__left {
    display: flex;
    margin-bottom: 30px;
    margin-left: 10px;
    align-items: baseline; /*정렬된..!*/
}

.nav__trending,
.nav__recent,
.nav__period {
    margin-right: 20px;
    cursor: pointer;
    height: 50px;
}

.nav__trending {
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-right: 20px;
}

.nav__recent {
    text-align: center;
    font-size: large;
    color: gray;
}

.nav__period{
    display: flex;
    background-color: rgb(214, 232, 240);
    align-items: center; 
    width: 100px;
    position: relative;
    padding: 4px 2px;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
}

.nav__period__btn {
    padding-left: 10px;
    padding-bottom: 6px;
    /* align-items: center; 왜 여기 넣으면 안될까요*/
    /*은근 맞지 않는 버튼의 위아래 폭 */
}

.nav__period--text {
    font-weight: bold;
}

.nav__period--icon {/*아이콘 위치 고정 어떻게*/
    background-image: url('	https://velog-clone.netlify.app/assets/icons/arrow_drop_down.svg');
    width: 22px;
    height: 22px;
    display: inline-block;
    position: fixed;
    left: 323px;
    top: 110px
}

.nav__dropdown {
    display: none;
    position: absolute;
    align-items: left; 
    top: 100%;
    list-style: none;
    background-color: rgb(214, 232, 240);
    z-index: 1;
    padding-left: 0%;
}

.nav__dropdown > li {
    border-top: 1px solid black;
    width: 192px;
    padding: 8px;
}

.nav__dropdown > li:nth-child(1) {
    border-top: none;
}

.nav__dropdown > li:hover {
    color: rgb(62, 194, 62);
    background-color: rgb(197, 214, 221);
    transition: .25s;
}

.nav__dropdown--today.clicked,
.nav__dropdown--week.clicked,
.nav__dropdown--month.clicked,
.nav__dropdown--year.clicked {
    color: rgb(62, 194, 62);
}

.nav__right {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    background-color: rgb(214, 232, 240);
    margin: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: .25s;
    position: relative;
}

.card:hover {
    box-shadow: 1px 1px 20px rgb(187, 187, 187);
    transform: translateY(-8px);
    transition: .25s;
}

.card__img__wrapper {
    position: relative;
    width: 100%;
}

.card__img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    /* position: absolute; */
    top: 0;
    left: 0;
    object-fit: cover;
}

.card__middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 16px;
}

.card__date {
    font-size: 12px;
    color: gray;
}

.card__profile {
    width:30px;
    height: 30px;
    border-radius: 70%;
    overflow: hidden;
    display:inline-block;
    text-align: center; 
}

.card__bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    height: 25px;
    /* align-items: baseline; 왜 이거하면 정렬이 안되는지 */
    border-radius: 0 0 10px 10px;
}

.card__bottom--left {
    display: flex;
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
}

.card__name span {
    font-weight: bold;
}

.card__profile {
    margin-right: 10px;
}

.card__bottom--right {
    margin-left: auto;
    flex-direction:row;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.modal {   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__overlay {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: fixed;
} 

.modal__content {
    background-color: white;
    padding: 50px 100px;
    text-align: center;
    position: fixed;
    border-radius: 4px;
    width: 20%;
    height: 20%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);   
}

.modal__card__closebtn {
    position: absolute;
    bottom: 0px;
    right: 50%;
    cursor: pointer;
    transform: translate(50%, 150%);
}

.modal__card__content {
    position: fixed;
}

.hidden {
    display: none;
}