* {
  margin: 0;
}

#wrapper {
  height: auto;
  min-height: 100%;
  padding-bottom: 50px;
}

header,
footer {
  width: 100%;
  background-color: #497542;
  color: #ca413d;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #edb361;
}

nav > button {
  margin: 0 5px;
  background-color: #779645;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

#main {
  display: flex;
  flex-direction: row;
}

header h1 {
  margin: 0;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  height: 50px;
  position: relative;
  transform: translateY(-100%);
}
