* {
  margin: 0;
  box-sizing: border-box;
}

header,
footer {
  width: 100%;
  background-color: #497542;
  color: #ca413d;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #edb361;
}

nav > button {
  margin: 0 5px;
  background-color: #779645;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

#main {
  display: flex;
  flex-direction: row;
  background-color: #779645;
}

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.today {
  border-right: 1px solid #274530;
}

.todo h2 {
  margin: 10px 0;
  color: white;
}

.todo input {
  width: 100%;
  border: 0;
  outline: 0;
}

.btn {
  height: 30px;
  line-height: 30px;
  align-items: center;
}

.btn button {
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  background-color: #94b957;
}

footer {
  display: block;
}
